<link rel="stylesheet" href="assets/module/formSelects/formSelects-v4.css"/>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini">
            <div class="layui-form toolbar" id="tbToolBar">
                <div class="layui-form-item">
                    <div class="layui-inline" style="padding-right: 110px;">
                        <button perm-show="client:add" id="btnAddClient" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加</button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="tableClient" lay-filter="tableClient"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarClient">
    <a perm-show="client:edit" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a perm-show="client:del" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="tableStateClient">
    <input type="checkbox" lay-filter="ckStateClient" value="{{d.clientId}}" lay-skin="switch"
           lay-text="正常|锁定" {{d.state==0?'checked':''}}/>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelClient">
    <form id="modelClientForm" lay-filter="modelClientForm" class="layui-form model-form layui-row">
        <input name="clientId" type="hidden"/>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">clientId:</label>
                    <div class="layui-input-block">
                        <input name="clientId" placeholder="请输入客户端Id" type="text" class="layui-input" maxlength="20"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">秘钥:</label>
                    <div class="layui-input-block">
                        <input name="clientSecret" placeholder="请输入秘钥,不修改请留空" type="text" class="layui-input" min="1" max="9999"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">scope:</label>
                    <div class="layui-input-block">
                        <input name="scope" placeholder="请输入scope" type="text" class="layui-input"
                               lay-verType="tips" lay-verify="required" required/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">自动放行:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="autoapprove" value="false" title="否" checked/>
                        <input type="radio" name="autoapprove" value="true" title="是"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label">授权模式:</label>
                    <div class="layui-input-block" id="authorizedGrantTypes">
                        <input type="checkbox" lay-skin="primary" name="authorizedGrantTypes" value="password" title="密码模式">
                        <input type="checkbox" lay-skin="primary" name="authorizedGrantTypes" value="authorization_code" title="授权码模式">
                        <input type="checkbox" lay-skin="primary" name="authorizedGrantTypes" value="client_credentials" title="客户端模式">
                        <input type="checkbox" lay-skin="primary" name="authorizedGrantTypes" value="refresh_token" title="刷新模式">
                        <input type="checkbox" lay-skin="primary" name="authorizedGrantTypes" value="implicit" title="简化模式">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">令牌失效:</label>
                    <div class="layui-input-block">
                        <input name="accessTokenValidity" placeholder="请输入令牌失效时间" type="number" class="layui-input" maxlength="20"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">刷新失效:</label>
                    <div class="layui-input-block">
                        <input name="refreshTokenValidity" placeholder="请输入令牌刷新失效时间" type="number" class="layui-input" maxlength="20"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">回调地址:</label>
                    <div class="layui-input-block">
                        <input name="webServerRedirectUri" placeholder="请输入回调地址" type="text" class="layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
            <div class="layui-col-md6">
                <div class="layui-form-item">
                    <label class="layui-form-label">权限:</label>
                    <div class="layui-input-block">
                        <input name="authorities" placeholder="请输入权限" type="text" class="layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label">资源ID:</label>
                    <div class="layui-input-block">
                        <input name="resourceIds" placeholder="不填表示不限制,多个,隔开" type="text" class="layui-input"
                               lay-verType="tips"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div class="layui-form-item">
                    <label class="layui-form-label">扩展信息:</label>
                    <div class="layui-input-block">
                        <textarea name="additionalInformation" placeholder="扩展信息(json)" class="layui-textarea"
                                  maxlength="1000" style="height: 120px"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="modelSubmitClient" lay-submit type="button">保存</button>
        </div>
    </form>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var admin = layui.admin;
        var config = layui.config;

        form.render('select');
        // 渲染表格
        var insTb = table.render({
            elem: '#tableClient',
            url: config.base_server + '/client',
            page: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers', title: '#'},
                {field: 'clientId', sort: true, title: 'clientId'},
                {field: 'scope', sort: true, title: 'scope'},
                {field: 'authorizedGrantTypes', sort: true, title: '授权模式'},
                {align: 'center', toolbar: '#tableBarClient', title: '操作', minWidth: 200}
            ]]
        });

        // 添加
        $('#btnAddClient').click(function () {
            showEditModel();
        });

        // 搜索
        form.on('submit(formSubSearchClient)', function (data) {
            insTb.reload({where: data.field}, 'data');
        });

        // 工具条点击事件
        table.on('tool(tableClient)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                doDel(data.clientId, data.name);
            }
        });

        // 显示表单弹窗
        function showEditModel(mClient) {
            admin.open({
                type: 1,
                title: (mClient ? '修改' : '添加') + '客户端信息',
                area: '50%',
                content: $('#modelClient').html(),
                success: function (layero, dIndex) {
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    var url = mClient ? '/client/' + mClient.clientId : '/client';
                    // 回显数据
                    form.val('modelClientForm', mClient);
                    if (mClient) {
                        var authorizedGrantTypes = mClient.authorizedGrantTypes.split(",");
                        $("input[name='authorizedGrantTypes']").each(function (index, item) {
                            $(this).attr("checked", authorizedGrantTypes.indexOf($(this).val()) >= 0);
                        });
                    }
                    form.render('checkbox');
                    // 表单提交事件
                    form.on('submit(modelSubmitClient)', function (data) {

                        var authorizedGrantTypes = [];
                        $("input[name='authorizedGrantTypes']:checked").each(function (index, item) {
                            authorizedGrantTypes.push($(this).val());
                        });
                        data.field.authorizedGrantTypes = authorizedGrantTypes.join(",");
                        layer.load(2);
                        admin.req(url, data.field, function (res) {
                            layer.closeAll('loading');
                            layer.close(dIndex);
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload({}, 'data');
                        }, mClient ? "put" : "post");
                        return false;
                    });
                }
            });
        }

        // 删除
        function doDel(clientId, nickName) {
            layer.confirm('确定要删除“' + clientId + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('/client/' + clientId, {}, function (res) {
                    layer.closeAll('loading');
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({}, 'data');
                }, 'delete');
            });
        }

    });
</script>
