<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">用户名：</label>
                        <div class="layui-input-inline mr0">
                            <input class="layui-input" name="username" placeholder="用户名" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">操作内容：</label>
                        <div class="layui-input-inline mr0">
                            <input class="layui-input" name="operation" placeholder="操作内容" type="text"/>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn" lay-filter="formSubSearchLog" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="tableLog" lay-filter="tableLog"></table>
        </div>
    </div>
</div>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util'], function () {
        const form = layui.form;
        const table = layui.table;
        const util = layui.util;
        const config = layui.config;

        // 渲染表格
        const insTb = table.render({
            elem: '#tableLog',
            url: config.base_server + '/log',
            page: true,
            title: '登录日志',
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers', title: '#'},
                {field: 'username', sort: true, title: '账号', width: 100},
                {field: 'operation', sort: true, title: '操作', width: 120},
                {field: 'ip', sort: true, title: 'IP', width: 120},
                {field: 'url', sort: true, title: '访问地址'},
                {field: 'device', sort: true, title: '设备', width: 80},
                {field: 'osName', sort: true, title: '设备类型', width: 80},
                {field: 'browserType', sort: true, title: '浏览器', width: 80},
                {field: 'createTime', sort: true, title: '时间', width: 180}
            ]]
        });

        // 搜索
        form.on('submit(formSubSearchLog)', function (data) {
            insTb.reload({
                page: {
                    curr: 1 //重新从第 1 页开始
                }, where: data.field
            }, 'data');
        });

    });
</script>