<link rel="stylesheet" href="assets/module/formSelects/formSelects-v4.css"/>
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini">
            <div class="layui-form toolbar" id="tbToolBar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label w-auto">用户名：</label>
                        <div class="layui-input-inline mr0">
                            <input name="name" class="layui-input" type="text" placeholder="输入用户名"/>
                        </div>
                    </div>
                    <div class="layui-inline" style="padding-right: 110px;">
                        <button class="layui-btn icon-btn" lay-filter="formSubSearchUser" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <button perm-show="user:add" id="btnAddUser" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>添加
                        </button>
                    </div>
                </div>
            </div>

            <table class="layui-table" id="tableUser" lay-filter="tableUser"></table>
        </div>
    </div>
</div>

<!-- 表格操作列 -->
<script type="text/html" id="tableBarUser">
    <a perm-show="user:edit" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a perm-show="user:del" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    <a perm-show="user:rest:password" class="layui-btn layui-btn-xs" lay-event="reset">重置密码</a>
</script>
<!-- 表格状态列 -->
<script type="text/html" id="tableStateUser">
    <input type="checkbox" lay-filter="ckStateUser" value="{{d.userId}}" lay-skin="switch"
           lay-text="正常|锁定" {{d.state==0?'checked':''}}/>
</script>
<!-- 表单弹窗 -->
<script type="text/html" id="modelUser">
    <form id="modelUserForm" lay-filter="modelUserForm" class="layui-form model-form">
        <input name="userId" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label">账号</label>
            <div class="layui-input-block">
                <input name="username" placeholder="请输入账号" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input name="name" placeholder="请输入用户名" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">手机号</label>
            <div class="layui-input-block">
                <input name="phone" placeholder="请输入手机号" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input name="password" placeholder="请输入密码" type="text" class="layui-input" maxlength="20"
                       lay-verType="tips"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">角色</label>
            <div class="layui-input-block">
                <select name="roleId" xm-select="userRole" id="roleId" lay-verType="tips" lay-verify="required">
                    <option value="">请选择角色</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="modelSubmitUser" lay-submit>保存</button>
        </div>
    </form>
</script>

<!-- js部分 -->
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin', 'config', 'formSelects'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;
        var config = layui.config;
        var formSelects = layui.formSelects;

        form.render('select');
        // 渲染表格
        var insTb = table.render({
            elem: '#tableUser',
            url: config.base_server + '/user',
            page: true,
            toolbar: true,
            cellMinWidth: 100,
            cols: [[
                {type: 'numbers', title: '#'},
                {field: 'username', sort: true, title: '账号'},
                {field: 'name', sort: true, title: '用户名'},
                {field: 'createTime', sort: true, title: '创建时间'},
                {align: 'center', toolbar: '#tableBarUser', title: '操作', minWidth: 200}
            ]]
        });

        // 添加
        $('#btnAddUser').click(function () {
            showEditModel();
        });

        // 搜索
        form.on('submit(formSubSearchUser)', function (data) {
            insTb.reload({where: data.field}, 'data');
        });

        // 工具条点击事件
        table.on('tool(tableUser)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                showEditModel(data);
            } else if (layEvent === 'del') { // 删除
                doDel(data.id, data.name);
            } else if (layEvent === 'reset') { // 重置密码
                resetPsw(data.id, data.name);
            }
        });

        // 显示表单弹窗
        function showEditModel(mUser) {
            admin.open({
                type: 1,
                title: (mUser ? '修改' : '添加') + '用户',
                content: $('#modelUser').html(),
                success: function (layero, dIndex) {

                    var roleIdUrl = mUser ? ("/role/comboBox/" + mUser.id) : "/role/comboBox";
                    /*admin.req(roleIdUrl, {}, function (res) {
                        var selectId = [];
                        res.data.forEach(function (k, v) {
                            $("#roleId").append(new Option(k.value, k.key));
                            if (k.selected === "selected") {
                                selectId.push(k.key);
                            }
                        });
                        formSelects.render('userRole');
                        if (mUser && selectId) {
                            formSelects.value('userRole', selectId);
                        }
                    });*/

                    formSelects.render('userRole');
                    formSelects.data('userRole', 'server', {
                        url: config.base_server + roleIdUrl + '?access_token=' + config.getAccessToken()
                    });

                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                    var url = mUser ? '/user/' + mUser.id : '/user';
                    // 回显数据
                    form.val('modelUserForm', mUser);
                    // 表单提交事件
                    form.on('submit(modelSubmitUser)', function (data) {
                        data.field.roleId = formSelects.value('userRole', 'val');
                        console.debug(data.field);
                        layer.load(2);
                        admin.req(url, data.field, function (res) {
                            layer.closeAll('loading');
                            layer.close(dIndex);
                            layer.msg(res.msg, {icon: 1});
                            insTb.reload({}, 'data');
                        }, mUser ? "put" : "post");
                        return false;
                    });
                }
            });
        }

        // 删除
        function doDel(userId, nickName) {
            layer.confirm('确定要删除“' + nickName + '”吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('/user/' + userId, {}, function (res) {
                    layer.closeAll('loading');
                    layer.msg(res.msg, {icon: 1});
                    insTb.reload({}, 'data');
                }, 'delete');
            });
        }

        // 重置密码
        function resetPsw(userId, nickName) {
            layer.confirm('确定要重置“' + nickName + '”的登录密码吗？', {
                skin: 'layui-layer-admin',
                shade: .1
            }, function (i) {
                layer.close(i);
                layer.load(2);
                admin.req('/user/reset-password/' + userId, {}, function (res) {
                    layer.closeAll('loading');
                    layer.msg(res.msg, {icon: 1});
                }, 'put');
            });
        }

    });
</script>
