<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mavenproject.modules.sys.mapper.UserMapper">

    <select id="userMenus" resultType="mavenproject.modules.sys.model.dto.SysUserMenu">
        SELECT
            sm.id,
            sm.name,
            sm.url,
            sm.pid,
            sm.icon
        FROM
            sys_menu sm
                LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
                LEFT JOIN sys_user_role sur ON sur.role_id = srm.role_id
                LEFT JOIN sys_user su ON su.id = sur.user_id
        WHERE
            su.id = #{uid} and sm.type = 0 and sm.del_flag = 1
        GROUP BY sm.id
        ORDER BY sm.sort
    </select>
    <select id="userAuthority" resultType="java.lang.String">
        SELECT
            sm.authority
        FROM
            sys_menu sm
        LEFT JOIN sys_role_menu srm ON sm.id = srm.menu_id
        LEFT JOIN sys_user_role sur ON sur.role_id = srm.role_id
        LEFT JOIN sys_user su ON su.id = sur.user_id
        WHERE
            sm.authority IS NOT NULL and sm.del_flag = 1
        AND su.id = #{uid}
    </select>
</mapper>
